.custom-button {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    margin: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: darkorange;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
